<p id="notice"><%= notice %></p>

<h1> Pizzas Girls</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Votes</th>
      <th>Precio</th>
      <th>Ingredientes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.votes %></td>
        <td><%= pizza.price %></td>
        <td><%= pizza.ingredients %></td>
        <td><%= link_to 'Ver', pizza, class:"btn btn-default" %></td>
        <td><%= link_to 'Votar', pizza_votes_path(pizza), method: :put , class:"btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_pizza_path(pizza) , class:"btn btn-primary"%></td>
        <td><%= link_to 'Eliminar', pizza, method: :delete, class:"btn btn-danger", data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Pizza', new_pizza_path, class:"btn btn-default" %>
